.navBar{
    position: fixed;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.7rem;
    background-color: #333333;
    width: 100vw;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
}

.hamburger {
    position: absolute;
    padding: 1vh 2vw;
    cursor: pointer;
}

.hamburger .lines{
    width: 1.5rem;
    margin: 0.4rem;
    border: 0.8px solid white
}

.navEnd {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 2.8rem;
    z-index: 30;
    background-color: #333333;
    box-shadow: 0 8px 15px -6px #2b2b2b;
}

.navBar .navEnd .navLinks {
    color: #ffffff;
    text-decoration: none;
    margin: 1rem;
}

.navMenu {
    display: none;
}

.open {
    display: block;
}

@media only screen and (min-width: 1024px) {
    .navEnd{
        box-shadow: none;
        flex-direction: row;
        margin: auto 1.5vw;
        justify-content: flex-end;
    }
    
    .navMenu{
        display: block;
    }

    .hamburger{
        display: none;
    }
}