.projectsSection .projectContainer{
    padding: 1rem;
    margin: 0 auto 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: all 0.3s ease-in-out;

}

.projectsSection h3{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 700px) {
    .projectsSection .projectContainer{
        max-width: 900px;
        transition: all 0.3s ease-in-out;
    }
}
