.card {
    background-color: #333333;
    margin: 0 auto;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    box-shadow: 5px 5px 30px -4px #1f1f1f9a;
    border-radius: 0.4rem;
    margin: 1rem .7rem;
    /* width: 30%; */
    transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 500px) {
    .card {
        width: 80%;
        transition: all 0.3s ease-in-out;
    }
}


@media only screen and (min-width: 700px) {
    .card {
        margin: 1rem 1rem;
        transition: all 0.3s ease-in-out;
    }
}

@media only screen and (min-width: 600px) {
    .card {
        width: 385px;
        transition: all 0.3s ease-in-out;

    }
}

.card .content {
    max-width: 100%;
    text-align: center;
}

.card .content h3 {
    margin: 1rem 0;
    font-size: 0.9rem;
}

.card .content p {
    display: flex;
    max-width: 75%;
    justify-content: space-evenly;
    margin: 1rem 0;
    margin: 0 auto 1rem;
}

.card .content p span {
    font-size: 0.65rem;
}

.card .content img {
    width: 100%;
    max-height: 20%;
}

.card .content .projectLinks {
    display: flex;
    font-size: .6rem;
    justify-content: space-evenly;
}

.card .content .projectLinks p {
    margin-top: 0.2rem;
}


.card .content .imageContainer {
    max-width: 90%;
    margin: 1.7rem auto;
}

.eightBitBtn{
    width: 10rem;
    float: left;
    border-left: 4px solid #000000;
    border-right: 4px solid #000000;
    position: relative;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1.7rem;
}

.eightBitBtn .btnWrapper {
    display: block;
    padding: 15px;
    margin: -5px 0;
    border-top: 4px solid #000000;
    border-bottom: 4px solid #000000;
    background-color: #ffffff;
    color: #333333;
    font-size: .6rem;
}

.eightBitBtn .btnWrapper::after {
    position: absolute;
    top: -1px;
    right: -1px;
    left: -1px;
    bottom: -1px;
    content: '';
    box-shadow: inset -5px -5px #9c9c9c;
}

.eightBitBtn .btnWrapper:hover {
    background-color: #ffffffea;
    cursor: pointer;
}

.eightBitBtn .btnWrapper:hover::after {
    box-shadow: inset -6px -6px #9c9c9c;
}

.eightBitBtn .btnWrapper:active::after {
    box-shadow: inset 5px 5px #9c9c9c;
}