.projectsSection .projectContainer{
    padding: 1rem;
    margin: 0 auto 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projectsSection h3{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 700px) {
    .projectsSection .projectContainer{
        max-width: 900px;
    }
}

.projectContainer {
    max-width: 100vw;
}
